body {
    background-color: #FFFFFC;
    margin: 20px;
    background-image: url("JPEG\ image-48BE-83E8-1D-0.jpeg");
    background-size: cover;
    font-family:Arial, Helvetica, sans-serif
}
header {
    background-color: #E9D3C4;
}
.logo {
    width: 150px;
    padding: 10px;
}
.main-navigation {
    background-color: #B2AFA6;
}
.main-navigation a {
    color:azure;
    text-decoration: none;
    display: inline-block;
    padding: 20px;
}
.main-navigation a:hover {
    background-color: #335C81;
    color: #151515; 
}
.banner {
    min-height: 60vh;
    background-color: F4E9DE;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("");
    background-position: center;
    background-size: cover;
    flex-direction: column;
}
.banner-button {
    display: block;
    background-color: aqua;
    color: black;
    text-decoration: none;
    padding: 15px;
    border-radius: 10px;
}
.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    gap: 20px;
}
.card {
    /* max-width: 33.33%; */
    background-color: #cccccc;
    flex: 1;
}
.card img {
    aspect-ratio: 1/1;
    object-fit: cover;
    max-width: 100%;
}